@font-face {
  font-family: "Roboto";
  src: url("roboto_light/Roboto-Light-webfont.eot");
  src: url("roboto_light/Roboto-Light-webfont.eot?iefix") format("embedded-opentype"), url("roboto_light/Roboto-Light-webfont.woff") format("woff"), url("roboto_light/Roboto-Light-webfont.ttf") format("truetype"), url("roboto_light/Roboto-Light-webfont.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand-Regular.ttf") format("truetype");
}
body {
  font-family: "Roboto", sans-serif;
}

.name {
  font-family: "Shrikhand", sans-serif;
}

body {
  margin: 0;
}
@media (min-width: 750px) {
  body {
    width: 55%;
    margin: auto;
  }
}

img {
  height: 100%;
  width: 65%;
}

.logo {
  text-align: center;
  padding: 1em;
}

header {
  text-align: center;
}

.localisation {
  background: #DDDDDD;
  padding: 1.2em;
  box-shadow: 0px 5px 5px #c4c4c4 inset;
  font-size: 1.2em;
}

.explore {
  background: #F0F0F0;
  padding: 1.8em;
}

.btn {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  cursor: pointer;
  width: 75%;
  padding: 1.5em 2em;
  border-radius: 10em;
  box-shadow: 0px 5px 5px #c4c4c4;
  margin-bottom: 2em;
  margin-left: 0;
  text-align: center;
}
@media (min-width: 750px) {
  .btn {
    width: 50%;
    margin-left: 20%;
  }
}

section {
  margin-top: 3em;
}

.work {
  margin-bottom: 4em;
}
.work i {
  font-size: 1.2em;
}
.work_btn {
  display: flex;
  position: relative;
  background: #F0F0F0;
  cursor: pointer;
  padding: 1em 2.6em;
  border-radius: 1.5em;
  box-shadow: 0px 5px 5px #c4c4c4;
  margin: 2em;
  align-items: center;
  font-weight: bold;
}
.work_btn:hover {
  background: #D0D6F7;
}
.work_btn:hover i {
  color: #9356DC;
}
.work_number {
  position: absolute;
  background: #9356DC;
  border-radius: 50%;
  width: 30px;
  height: 25px;
  text-align: center;
  font-weight: bold;
  color: white;
  padding-top: 5px;
  margin-left: -52px;
  margin-right: 1em;
}
.work p {
  margin-left: 1em;
}
@media (min-width: 750px) {
  .work {
    margin: 10%;
  }
  .work_btn {
    width: 70%;
  }
}

section h2 {
  margin: 5% 5% 5% 5%;
}

.restaurant {
  padding-top: 1.8em;
  padding-bottom: 1.8em;
}

.restaurant {
  background: #F0F0F0;
  padding-bottom: 5em;
}
.restaurant_img--1 {
  height: 300px;
  background: url("./../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") no-repeat;
  background-size: 30em;
  background-position: 0 -50px;
  border-radius: 2em 2em 0 0;
  position: relative;
  margin: 2em;
}
@media (min-width: 750px) {
  .restaurant_img--1 {
    background-size: 70em;
    height: 400px;
  }
}
.restaurant_img--2 {
  height: 300px;
  background: url("./../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") no-repeat;
  background-size: 30em;
  background-position: 0 -50px;
  border-radius: 2em 2em 0 0;
  position: relative;
  margin: 2em;
}
@media (min-width: 750px) {
  .restaurant_img--2 {
    background-size: 70em;
    height: 400px;
  }
}
.restaurant_img--3 {
  height: 300px;
  background: url("./../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") no-repeat;
  background-size: 30em;
  background-position: 0 -50px;
  border-radius: 2em 2em 0 0;
  position: relative;
  margin: 2em;
}
@media (min-width: 750px) {
  .restaurant_img--3 {
    background-size: 70em;
    height: 400px;
  }
}
.restaurant_img--4 {
  height: 300px;
  background: url("./../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") no-repeat;
  background-size: 30em;
  background-position: 0 -50px;
  border-radius: 2em 2em 0 0;
  position: relative;
  margin: 2em;
}
@media (min-width: 750px) {
  .restaurant_img--4 {
    background-size: 70em;
    height: 400px;
  }
}
.restaurant_new {
  position: absolute;
  top: 1em;
  right: 1em;
  background: #99E2D0;
  color: #278870;
  font-weight: bold;
  padding: 5px;
  width: 5em;
  text-align: center;
  border-radius: 0.1em;
}
.restaurant_description {
  position: absolute;
  bottom: -20px;
  background: white;
  width: 100%;
  border-radius: 0 0 1.2em 1.2em;
}
.restaurant_description h3 {
  font-weight: bold;
  margin: 0;
  padding: 1em 0em 0em 1em;
}
.restaurant_description p {
  margin: 0;
  padding: 0em 1em 0em 1em;
  font-size: 1.2em;
}
.restaurant i {
  position: absolute;
  right: 30px;
  bottom: 20px;
  margin: 0;
  font-size: 1.6em;
  cursor: pointer;
  color: linear-gradient(#FF79DA, #9356DC);
}

footer {
  background: #2A2C32;
  color: white;
  padding: 1em;
  padding-bottom: 2em;
}
footer p {
  margin: 0.5em;
}
footer img {
  width: 40%;
  margin: 0.5em;
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
  margin: 0.5em;
}

.footer {
  font-weight: bold;
  margin: 0.5em;
}

/*# sourceMappingURL=main.css.map */
