@charset "UTF-8";
@keyframes heart {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("roboto_light/Roboto-Light-webfont.eot");
  src: url("roboto_light/Roboto-Light-webfont.eot?iefix") format("embedded-opentype"), url("roboto_light/Roboto-Light-webfont.woff") format("woff"), url("roboto_light/Roboto-Light-webfont.ttf") format("truetype"), url("roboto_light/Roboto-Light-webfont.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand-Regular.ttf") format("truetype");
}
body {
  font-family: "Roboto", sans-serif;
}

.name {
  font-family: "Shrikhand", sans-serif;
}

body {
  margin: 0;
  height: 100%;
}

img {
  height: 100%;
  width: 65%;
}

.logo {
  text-align: center;
  padding: 1em;
  display: flex;
}
.logo_fleche {
  font-size: 24px;
  color: black;
}
@media (min-width: 1000px) {
  .logo img {
    width: auto;
    position: relative;
    left: 80px;
  }
}
@media (min-width: 1440px) {
  .logo img {
    width: auto;
    position: relative;
    left: 200px;
  }
}

.image {
  background: url("./../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") no-repeat;
  height: 300px;
  background-size: 30em;
  margin: 0;
}
@media (min-width: 750px) {
  .image {
    background-size: 70em;
    height: 400px;
  }
}

header {
  background: #F0F0F0;
}
header .logo {
  background: #FFFF;
}

.name {
  background: #F0F0F0;
  margin: 0;
  border-radius: 1.5em 1.5em 0 0;
  padding: 1em;
  position: relative;
  bottom: 1.5em;
}

.container {
  background: #F0F0F0;
  padding-bottom: 3em;
}

section {
  animation: load 5s;
}
section h1 {
  text-transform: uppercase;
  margin: 0;
  margin-left: 1em;
  padding-bottom: 0.4em;
}
section h1 span {
  border-bottom: solid 5px #99E2D0;
}

.menu {
  padding-bottom: 4em;
}

.dish {
  display: flex;
  margin: 1em;
  position: relative;
  border-radius: 1em;
  background: white;
  padding: 0.5em;
  padding-bottom: 1em;
  box-shadow: 0px 5px 5px #c4c4c4;
  overflow: hidden;
  animation: load 2000ms;
}
.dish_description h2, .dish_description p {
  margin: 0.25em;
}
.dish_price {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-weight: bold;
}
.dish::before {
  transition: all 0.2s linear 0s;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: -3em;
  width: 3em;
  height: 100%;
  color: white;
  background-color: #99E2D0;
  text-align: center;
}
.dish:hover .dish_price {
  transition: all 0.2s linear 0s;
  text-indent: -105px;
}
.dish:hover::before {
  right: 0;
  text-indent: 0px;
}
.dish:hover h2, .dish:hover p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish:hover h2 {
  width: 180px;
}
@media (min-width: 375px) {
  .dish:hover h2 {
    width: 230px;
  }
}
@media (min-width: 425px) {
  .dish:hover h2 {
    width: 290px;
  }
}
@media (min-width: 1000px) {
  .dish:hover h2 {
    width: 400px;
  }
}
.dish:hover p {
  width: 140px;
}
@media (min-width: 375px) {
  .dish:hover p {
    width: 200px;
  }
}
@media (min-width: 425px) {
  .dish:hover p {
    width: 250px;
  }
}
@media (min-width: 1000px) {
  .dish:hover p {
    width: 400px;
  }
}

.btn {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  cursor: pointer;
  width: 50%;
  padding: 1.5em 2em;
  border-radius: 10em;
  box-shadow: 0px 5px 5px #c4c4c4;
  margin-bottom: 2em;
  margin-left: 3em;
  text-align: center;
}
@media (min-width: 750px) {
  .btn {
    width: 50%;
    margin-left: 20%;
  }
}

@media (min-width: 750px) {
  body {
    margin: auto;
    width: 55%;
  }
}
footer {
  background: #2A2C32;
  color: white;
  padding: 1em;
  padding-bottom: 2em;
}
footer p {
  margin: 0.5em;
}
footer img {
  width: 40%;
  margin: 0.5em;
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
  margin: 0.5em;
}

.footer {
  font-weight: bold;
  margin: 0.5em;
}

/*# sourceMappingURL=page2.css.map */
