@keyframes load {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heart {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0, 75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  to {
    opacity: 0;
  }
}
@keyframes Animation {
  to {
    opacity: 1;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("roboto_light/Roboto-Light-webfont.eot");
  src: url("roboto_light/Roboto-Light-webfont.eot?iefix") format("embedded-opentype"), url("roboto_light/Roboto-Light-webfont.woff") format("woff"), url("roboto_light/Roboto-Light-webfont.ttf") format("truetype"), url("roboto_light/Roboto-Light-webfont.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand-Regular.ttf") format("truetype");
}
body {
  font-family: "Roboto", sans-serif;
}

.name {
  font-family: "Shrikhand", sans-serif;
}

body {
  margin: 0;
  height: 100%;
}

img {
  height: 100%;
  width: 65%;
}

.logo {
  text-align: center;
  padding: 1em;
  display: flex;
}
.logo_fleche {
  font-size: 24px;
  color: black;
}
@media (min-width: 1000px) {
  .logo img {
    width: auto;
    position: relative;
    left: 80px;
  }
}
@media (min-width: 1440px) {
  .logo img {
    width: auto;
    position: relative;
    left: 200px;
  }
}

.image {
  background: url("./../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") no-repeat;
  height: 300px;
  background-size: 30em;
  margin: 0;
}
@media (min-width: 550px) {
  .image {
    background-size: 70em;
    height: 400px;
  }
}

header {
  background: #F0F0F0;
}
header .logo {
  background: #FFFF;
}

.name {
  background: #F0F0F0;
  margin: 0;
  border-radius: 1.5em 1.5em 0 0;
  padding: 1em;
  position: relative;
  bottom: 1.5em;
}

.container {
  background: #F0F0F0;
  padding-bottom: 3em;
}

section .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  margin-left: 1em;
  padding-bottom: 0.4em;
}
section .title span {
  border-bottom: solid 5px #99E2D0;
}

.entrees {
  animation: load 2000ms;
  padding-bottom: 4em;
}

.maindish {
  animation: load 3500ms;
  padding-bottom: 4em;
}

.dessert {
  animation: load 5000ms;
  padding-bottom: 4em;
}

.dish {
  display: flex;
  margin: 1em;
  position: relative;
  border-radius: 1em;
  background: white;
  padding: 0.5em;
  padding-bottom: 1em;
  box-shadow: 0px 5px 5px #c4c4c4;
  overflow: hidden;
}
.dish_description h2, .dish_description p {
  margin: 0.25em;
}
.dish_price {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-weight: bold;
}
.dish_select {
  transition: all 0.2s linear 0s;
  content: "";
  display: flex;
  position: absolute;
  top: 0;
  right: -6em;
  width: 6em;
  height: 100%;
  background-color: #99E2D0;
}
.dish_select_check {
  position: absolute;
  right: -3em;
  top: 30px;
  font-size: 30px;
  color: white;
}
.dish:hover .dish_price {
  transition: all 0.2s linear 0s;
  text-indent: -105px;
}
.dish:hover .dish_select {
  right: 0;
  text-indent: 0px;
}
.dish:hover .dish_select_check {
  right: 1em;
  transform: rotate(360deg);
  transition: transform 500ms ease-in-out;
}
.dish:hover h2, .dish:hover p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish:hover h2 {
  width: 180px;
}
@media (min-width: 375px) {
  .dish:hover h2 {
    width: 230px;
  }
}
@media (min-width: 425px) {
  .dish:hover h2 {
    width: 290px;
  }
}
@media (min-width: 1000px) {
  .dish:hover h2 {
    width: 400px;
  }
}
.dish:hover p {
  width: 140px;
}
@media (min-width: 375px) {
  .dish:hover p {
    width: 200px;
  }
}
@media (min-width: 425px) {
  .dish:hover p {
    width: 250px;
  }
}
@media (min-width: 1000px) {
  .dish:hover p {
    width: 400px;
  }
}

.btn {
  background: linear-gradient(#FF79DA, #9256dc);
  color: white;
  cursor: pointer;
  width: 50%;
  padding: 1.5em 2em;
  border-radius: 10em;
  box-shadow: 0px 5px 5px #c4c4c4;
  margin-bottom: 2em;
  margin-left: 3em;
  text-align: center;
}
@media (min-width: 750px) {
  .btn {
    width: 50%;
    margin-left: 20%;
  }
}
.btn:hover {
  box-shadow: 0px 10px 10px #aaaaaa;
  background: linear-gradient(#ff93e1, #a16be0);
}

@media (min-width: 750px) {
  body {
    margin: auto;
    width: 55%;
  }
}
footer {
  background: #2A2C32;
  color: white;
  padding: 1em;
  padding-bottom: 2em;
}
footer p {
  margin: 0.5em;
}
footer img {
  width: 40%;
  margin: 0.5em;
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
  margin: 0.5em;
}

.footer {
  font-weight: bold;
  margin: 0.5em;
}

/*# sourceMappingURL=page4.css.map */
