header {
    & .logo{
        background: #FFFF
    }
    background: $color-background-1;
}
.name {
    background: $color-background-1;
    margin: 0;
    border-radius: 1.5em 1.5em 0 0;
    padding: 1em;
    position: relative;
    bottom: 1.5em;
}
.container {
    background: $color-background-1;
    padding-bottom: 3em;
}
section {
    animation: load 5s;
    & .title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.5em;
        margin: 0;
        margin-left: 1em;
        padding-bottom: 0.4em;
        & span {
            border-bottom: solid 5px $color-tertiary;
        }
    }
}
.menu {
    padding-bottom: 4em;
}
.dish {
    display: flex;
    margin: 1em;
	position: relative;
	border-radius: 1em;
	background: white;
    padding: 0.5em;
    padding-bottom: 1em;
    @include btn-shadow;
    overflow: hidden;
    animation: load 2000ms;
    &_description {
       & h2, p {
           margin: 0.25em;
       }
    }
    &_price {
        position: absolute;
        bottom: 15px;
        right: 20px;
        font-weight: bold;
    }
    &::before {
        transition: all 0.2s linear 0s;
        content: "\f058";
        font-family: "Font Awesome 5 Free";
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: -3em;
        width: 3em;
        height: 100%;
        color: white;
        background-color: $color-tertiary;
        text-align: center;
    }
    &:hover {
        & .dish_price {
            transition: all 0.2s linear 0s;
            text-indent: -105px;
        }
        &::before {
            right: 0;
            text-indent: 0px;
        }
        & h2, p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & h2 {
            width: 180px;
            @media (min-width: 375px) {
                width: 230px;
            }
            @media (min-width: 425px) {
                width: 290px;
            }
            @media (min-width: 1000px) {
                width: 400px;
            }
        }
        & p {
            width: 140px;
            @media (min-width: 375px) {
                width: 200px;
            }
            @media (min-width: 425px) {
                width: 250px;
            }
            @media (min-width: 1000px) {
                width: 400px;
            }
        }
    }
}
.btn {
    @include btn (50%, 3em);
}
@media (min-width:750px) {
    body{
        margin: auto;
        width: 55%;
    }
}