header {
    & .logo {
        background: #FFFF
    }
    background: $color-background-1;
}
.name {
    background: $color-background-1;
    margin: 0;
    border-radius: 1.5em 1.5em 0 0;
    padding: 1em;
    position: relative;
    bottom: 1.5em;
}
.container {
    background: $color-background-1;
    padding-bottom: 3em;
}
section {
    & .title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.5em;
        margin: 0;
        margin-left: 1em;
        padding-bottom: 0.4em;
        & span {
            border-bottom: solid 5px $color-tertiary;
        }
    }
}
.entrees {
    animation: load 2000ms;
    padding-bottom: 4em;
}
.maindish {
    animation: load 3500ms;
    padding-bottom: 4em;
}
.dessert {
    animation: load 5000ms;
    padding-bottom: 4em;
}
.dish {
    display: flex;
    margin: 1em;
	position: relative;
	border-radius: 1em;
	background: white;
    padding: 0.5em;
    padding-bottom: 1em;
    @include btn-shadow;
    overflow: hidden;
    &_description {
       & h2, p {
           margin: 0.25em;
       }
    }
    &_price {
        position: absolute;
        bottom: 15px;
        right: 20px;
        font-weight: bold;
    }
    &_select {
        transition: all 0.2s linear 0s;
        content: "";
        display: flex;
        position: absolute;
        top: 0;
        right: -6em;
        width: 6em;
        height: 100%;
        background-color: $color-tertiary;
        &_check {
            position: absolute;
            right: -3em;
            top: 30px;
            font-size: 30px;
            color: white;
        }
    }
    &:hover {
        & .dish_price {
            transition: all 0.2s linear 0s;
            text-indent: -105px;
        }
        & .dish_select {
            right: 0;
            text-indent: 0px;
        }
        & .dish_select_check {
            right: 1em;
            transform: rotate(360deg);
            transition: transform 500ms ease-in-out;
        }
        & h2, p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & h2 {
            width: 180px;
            @media (min-width: 375px) {
                width: 230px;
            }
            @media (min-width: 425px) {
                width: 290px;
            }
            @media (min-width: 1000px) {
                width: 400px;
            }
        }
        & p {
            width: 140px;
            @media (min-width: 375px) {
                width: 200px;
            }
            @media (min-width: 425px) {
                width: 250px;
            }
            @media (min-width: 1000px) {
                width: 400px;
            }
        }
    }
}
.btn {
    @include btn (50%, 3em);
    &:hover {
		@include btn-hover;
	}
}
@media (min-width:750px) {
    body{
        margin: auto;
        width: 55%;
    }
}