header{
	text-align: center;
}
.location {
	background: $color-secondary;
	padding: 1.2em;
	@include box-shadow;
}
.explore {
	background: $color-primary;
	padding: 1.8em;
}
.btn{
	background: $color-btn;
	color: white;
	cursor: pointer;
	width: 75%;
	padding: 1.5em 2em;
	border-radius: 10rem;
	@include btn-shadow;
}
.work {
	&_btn{
		background: $color-primary;
		cursor: pointer;
		padding: 2.5em 3em;
		border-radius: 2rem;
		@include btn-shadow;
		margin: 2em;
	}
	&_number {
		background: $color-btn;
		border-radius: 2rem;
	}
}
section h2 {
		margin-left: 10%;
		margin-top: 15%;
}