@keyframes load {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes heart {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.15;
    }
    50% {
        opacity: 0.4;
    }
    75% {
        opacity: 0,75;
    }
    100% {
        opacity: 1;
    }
}
@keyframes loading {
    to   { opacity: 0;}
}
@keyframes Animation {
    to   { opacity: 1; }
  }